<div class="container">
  <div class="header clearfix">
    <br>
    <nav >
      <ul *ngIf="!isUserLoggedIn"></ul>
        <ul *ngIf="isUserLoggedIn" class="nav nav-pills float-right" style="margin-top: 30px;">
          <li class="nav-item">
              <h3> {{ currentUser?.userName }}</h3>
          </li>
          <li class="nav-item">
            <div class="container">
                <button (click)="logout()" type="button" class="btn btn-light btn-sm">Log out <i class="fa fa-sign-out" aria-hidden="true"></i></button>
            </div>
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
      </nav>
    <div *ngIf="!isUserLoggedIn">
        <div class="col-12 text-center logo" >
            <i class="fa fa-pied-piper" aria-hidden="true" style="font-size: 75px;"></i>
        </div>  
    </div>
    <div *ngIf="isUserLoggedIn">
        <div class="logo" >
            <i class="fa fa-pied-piper" aria-hidden="true" style="font-size: 75px;"></i>
        </div>
    </div>
    <br>
  </div>

  <div class="jumbotron" style="min-height: 500px">
      <router-outlet></router-outlet>
  </div>

  <footer class="footer" style="position: absolute; bottom: 0;">
    <p style="color: green; background-color: black">© itcraft Internship 2018</p>
  </footer>

</div>
  