<table class="table table-hover table-bordered" style="">
  <thead>
    <tr style="background-color: lightgray;">
      <th>#</th>
      <th>Exursion</th>
      <th>Client</th>
      <th>Date</th>
      <th width="5%"><button color="accent" mat-flat-button (click)="createOrUpdate()"><i class="fa fa-plus" aria-hidden="true"></i>  Add</button></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let tour of tours; let i = index" [attr.data-index]="i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ tour.name }}</td>
      <td>{{ tour.clientName }}</td>
      <td>{{ tour.date | date: 'dd/MM/yyyy' }}</td> 
      <td><button mat-flat-button color="white" (click)="createOrUpdate(tour)"><i class="fa fa-pencil" aria-hidden="true"></i>   Edit</button></td>
    </tr>

  </tbody>
</table>
<br>
