<!--<div class="">
  <div class="">
    <h2 class="">login</h2>
  </div>
</div>
<div class="">
  <table>
    <tr>
      <td>user name:</td>
      <td><input [(ngModel)]="userName" placeholder="user1" /></td>
    </tr>
    <tr>
      <td>password:</td>
      <td><input [(ngModel)]="password" placeholder="user1psd" /></td>
    </tr>
    <tr>
      <td></td>
      <td><button (click)="login()" >Login</button></td>
    </tr>
  </table>
</div>-->

<div>
  <p>
    <b>Email:</b><br>
    <input [(ngModel)]="userName" type="text" size="40">
  </p>
  <p>
    <b>Password:</b><br>
    <input [(ngModel)]="password" type="password" size="40">
  </p>
  <button (click)="login()"><span class="glyphicon-log-in">login</span></button>
</div>
