<div class="row">
    <div class="col-12 text-center">
      <div>
          <h1 class="display-5">Sign in</h1>
          <p class="lead">Sign in with your personal account</p>
      
          <p>
            <b>Email:</b><br>
            <input [(ngModel)]="userName" type="text" size="40">
          </p>
      
          <p>
            <b>Password:</b><br>
            <input [(ngModel)]="password" type="password" size="40">
          </p>
          <p><a (click)="login()" class="btn btn-lg btn-success" role="button">Sign in <i class="fa fa-sign-in" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>